<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="miModalLabel">
        {{ editar ? 'Editar ' + name?.value : 'Nuevo Cósmetico' }}
      </h5>
      <button class="btn-close" type="button" (click)="activeModal.close()" aria-label="CLose"></button>
    </div>

    <div class="modal-body">
      <form [formGroup]="formCosmetic" (ngSubmit)="onSubmit()" ><!-- class="needs-validation was-validated" novalidate -->
        <div class="form-floating mb-3">
          <input
            formControlName="name"
            id="name"
            placeholder="Nombre"
            type="text"
            class="form-control"
            required>
          <label for="nombre" class="form-label">Nombre</label>
          @if (name && name.invalid && (name?.dirty || name?.touched)) {
            <div class="small text-danger">
              <small>
              @if (name.errors && name.errors['required']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
               El nombre es obligatorio!
              }
              @if (name.errors && name.errors['minlength']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede tener menos de 3 carácteres
              }
              @if (name.errors && name.errors['notOnlyWhiteSpace']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede ser solo espacios              }
              @if (name.errors && name.errors['forbiddenNames']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ name.errors['forbiddenNames'].value }} esa palabra esta prohibida
              }
              </small>
            </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="type"
            id="type"
            placeholder="Tipo"
            type="text"
            class="form-control"
            required>
          <label for="type">Tipo</label>
          @if (type && type.invalid && (type?.dirty || type?.touched)) {
            <div class="small text-danger">
              <small>
              @if (type.errors && type.errors['required']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                El tipo es obligatorio!
              }
              @if (type.errors && type.errors['minlength']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede tener menos de 3 carácteres
              }
              @if (type.errors && type.errors['notOnlyWhiteSpace']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede ser solo espacios
              }
              @if (type.errors && type.errors['forbiddenNames']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ type.errors['forbiddenNames'].value }} esa palabra esta prohibida
              }
              </small>
            </div>
          }
        </div>
        <div class="form-floating mb-3">
          <input
            formControlName="brand"
            id="type"
            placeholder="Marca"
            type="text"
            class="form-control"
            required>
          <label for="brand">Marca</label>
          @if (brand && brand.invalid && (brand?.dirty || brand?.touched)) {
            <div class="small text-danger">
              <small>
              @if (brand.errors && brand.errors['required']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                La marca es obligatoria!
              }
              @if (brand.errors && brand.errors['minlength']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede tener menos de 3 carácteres
              }
              @if (brand.errors && brand.errors['notOnlyWhiteSpace']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                No puede ser solo espacios
              }
              @if (brand.errors && brand.errors['forbiddenNames']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                {{ brand.errors['forbiddenNames'].value }} esa palabra esta prohibida
              }
              </small>
            </div>
          }
        </div>

        <div class="form-floating mb-3">
          <input formControlName="price"
                 type="number"
                 class="form-control"
                 id="price"
                 placeholder="Precio" required>
          <label for="price">Precio</label>
          @if (price && price.invalid && (price?.dirty || price?.touched)) {
            <div class="small text-danger">
                <small>
              @if (price.errors && price.errors['required']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                El precio es obligatorio!
              }
              @if (price.errors && price.errors['min']) {
                <i class="bi bi-exclamation-triangle-fill"></i>
                El precio no puede ser negativo
              }
                </small>
            </div>
          }
        </div>
        <div class="row mb-3">
          <div class="col-9 ">
            <div class="form-floating ">
              <input formControlName="image"
                     type="text"
                     class="form-control"
                     id="image"
                     placeholder="Imagen">
              <label for="image">Imagen</label>
              @if (image && image.invalid && (image?.dirty || image?.touched)) {
                <div class="small text-danger">
                  <small>
                  @if (image.errors && image.errors['required']) {
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    La imagen es obligatoria!
                  }
                  </small>
                </div>
              }
            </div>
          </div>
          <div class="col-3 border rounded p-0"
               [ngClass]="{
          'border-danger': image && image.invalid && (image?.dirty || image?.touched),
          'border-success' :image.valid
          }">
            <img [src]="image?.value || imgNotFound" class="img-fluid p-1 rounded">
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-outline-danger me-2" type="button" (click)="activeModal.close()">Close</button>
      <button class="btn btn-primary" type="submit" [disabled]="formCosmetic.invalid" (click)="onSubmit()">Save</button>
    </div>
  </div>
</div>
